{% extends 'base.html.twig' %}

{% block body %}
	<main>

		<div class="presentation">
			<p class="hello">hello</p>
			<span class="i_am">i am</span>
			<span class="developer">web developer</span>
		</div>

		<div class="stack">
			<p class="stack_js">
				<i class="fa-brands fa-js"></i>
			</p>
			<p class="stack_react">
				<i class="fab fa-react"></i>
			</p>
			<p class="stack_php">
				<i class="fab fa-php"></i>
			</p>
			<p class="stack_symfony">
				<i class="fab fa-symfony"></i>
			</p>
		</div>

		<div class="cv">
			<p>Check my
				<a href="{{ asset ('cv/cv-jonathan-plazanet.pdf') }}" target="_blank">CV</a>
			</p>
		</div>
	</main>
{% endblock %}
