<header>

	<nav>
		<a>jona</a>
		<a>
			<i class="fab fa-linkedin"></i>
		</a>
		<a>
			<i class="fab fa-github"></i>
		</a>
		<a>
			<i class="fab fa-youtube"></i>
		</a>
	</nav>

  <p>hello</p>
  <p>i am</p>
  <p>developer</p>
  
  <p><i class="fa-brands fa-js"></i></p>
  <p><i class="fab fa-react"></i></p>
  <p><i class="fab fa-php"></i></p>
  <p><i class="fab fa-symfony"></i></p>

</header>
