<header>

	<nav>
		<div class="nav_name">
			<a>jona</a>
		</div>
		<div class="nav_links">
			<div>
				<a href="https://www.linkedin.com/in/jonathan-plazanet" target="_blank" class="nav_linkedin">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
			<div>
				<a href="https://github.com/JonaPlaz" target="_blank" class="nav_github">
					<i class="fab fa-github"></i>
				</a>
			</div>
			<div>
				<a href="https://www.youtube.com/channel/UCfYk-NBsguXXmAbfqQIJ6Tg" target="_blank" class="nav_youtube">
					<i class="fab fa-youtube"></i>
				</a>
			</div>
		</div>
	</nav>

	<div class="presentation">
		<p class="hello">hello</p>
		<span class="i_am">i am</span>
		<span class="developer">web developer</span>
	</div>

	<div class="stack">
		<p class="stack_js">
			<i class="fa-brands fa-js"></i>
		</p>
		<p class="stack_react">
			<i class="fab fa-react"></i>
		</p>
		<p class="stack_php">
			<i class="fab fa-php"></i>
		</p>
		<p class="stack_symfony">
			<i class="fab fa-symfony"></i>
		</p>
	</div>

</header>
