<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Jona Web Developer
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/reset.css') }}">
			<link rel="stylesheet" href="{{ asset('css/index.css') }}">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,700&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<script src="https://kit.fontawesome.com/aedc4a5914.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>

		{% include "_header.html.twig" %}

		{% block body %}{% endblock %}
	</body>
</html>
