{% extends 'base.html.twig' %}

{% block title %}Stats - Jona Web Developer
{% endblock %}

{% block body %}

	<table class="visitors_table">
		<tr class="visitors_row_titles">
			<td>visitor ip</td>
			<td>cv version</td>
			<td>nb of consults</td>
		</tr>
		{% for visitor in visitors %}
			<tr class="visitors_rows_content">
				<td>{{ visitor.ip }}</td>
				<td>{{ visitor.version }}</td>
				<td>{{ visitor.numberConsultations }}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
