{% extends 'base.html.twig' %}

{% block title %}Stats - Jona Web Developer
{% endblock %}

{% block body %}

	<table class="visitors_table">
		<tr class="visitors_row_titles">
			<td>visitor ip</td>
			<td>cv version</td>
			<td>nb of visits</td>
		</tr>
		{% for visit in visits %}
			<tr class="visitors_rows_content">
				<td>{{ visit.ip }}</td>
				<td>{{ visit.cv.version }}</td>
				<td>{{ visit.numberOfVisits }}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
