/* General CSS */
header>nav {
  display: flex;
  justify-content: space-between;
  padding: 1.4em;
}

body {
  background-color: #353b49;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

/* Class CSS Header */
.nav_name {
  color: white;
  cursor: default;
  font-size: 2em;
  text-transform: uppercase;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  font-size: 1.7em;
}

.nav_links>div {
  margin-left: 1.5em;
}

.nav_links>div>a>i {
  transition: 0.3s ease-out;
}

.nav_links>div>a>i:hover {
  transform: scale(1.1)
}

.nav_links>div>a>i:active {
  transform: scale(0.9)
}

.nav_linkedin {
  color: #0072b1;
}

.nav_github {
  color: #9DA7B3;
}

.nav_youtube {
  color: #c4302b
}


/* main CSS */
/*centrer le main verticalement */
main {
  line-height: 5em;
  margin: 10% 0;
}

.presentation {
  color: white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: capitalize;
}

.presentation>span {
  font-size: 3em;
}

.hello {
  font-size: 2.5em;
  font-weight: 700;
}

.i_am {
  font-weight: 100;
}

.developer {
  font-weight: 300;
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stack>p {
  font-size: 3em;
  margin: 0 0.8em;
}

.stack_js {
  color: #f7df1e;
}

.stack_react {
  color: #61DAFB;
}

.separator {
  color: #a58a01;
  font-weight: lighter;
}

.stack_php {
  color: #787CB4;
}

.stack_symfony {
  color: #E5E8E4;
}

.cv>p {
  color: white;
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-align: center;
}

.cv>p>a {
  color: #F9D423;
  font-weight: 300;
  text-decoration: none;
}

/* Login page */
.login_form {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  line-height: 2em;
  margin: 10% 40% 0 40%;
  width: 20%;
}

.login_form>input {
  color: #353b49;
  font-size: 1em;
  padding: 0.3em;
}

.login_button {
  background-color: #F9D423;
  border: none;
  color: #353b49;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 1.1em;
  padding: 0.5em;
}

/* Register page */
.register_form {
  color: white;
  font-size: 1.3em;
  line-height: 2em;
  margin: 10% 40% 0 40%;
  width: 20%;
}

.register_button {
  background-color: #F9D423;
  border: none;
  color: #353b49;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 1.1em;
  padding: 0.5em;
  text-transform: uppercase;
}

/* Stats page */
.visitors_table {
  border: solid white 1px;
  color: white;
  margin: auto;
  text-align: center;
}

.visitors_row_titles>td {
  border: solid white 1px;
  color: #F9C13D;
  font-weight: bolder;
  padding: 10px;
  text-transform: uppercase;
}

.visitors_rows_content>td {
  border: solid white 1px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {

  .nav_name {
    font-size: 3em;
  }

  .nav_links {
    font-size: 3em;
  }

  main {
    line-height: 6em;
    margin: 50% 0;
  }

  .presentation>span {
    font-size: 4em;
  }

  .hello {
    font-size: 3.5em;
  }

  .stack>p {
    font-size: 4em;
  }

  .cv>p {
    font-size: 3em;
  }
}

@media screen and (max-height: 770px) {

  .nav_name {
    font-size: 2em;
  }

  .nav_links {
    font-size: 2em;
  }

  main {
    line-height: 6em;
    margin: 0;
  }

  .presentation>span {
    font-size: 2.5em;
  }

  .hello {
    font-size: 2em;
  }

  .stack>p {
    font-size: 2.5em;
  }

  .cv>p {
    font-size: 2em;
  }
}